/*body max width*/
body{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100vh;
}

/*centered-block*/
.centered-block{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*removing bootstrap border shadow effect* of input field*/
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #00ff0d;
  background-color: #040080;
  color: #fff;
}

/*sign-up.php & login.php*/
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px auto auto;
    width: 95%;
}

.logo_2{
    display: block;
    width: 200px;
    height: 70px;
}

.login{
    display: inline-block;
    width: 130px;
    height: 45px;
    color: #040080;
    border: 1px solid #040080;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
}

#loginForm{
    width: 600px;
    margin: 0 auto auto;
}

#sign-up-body input:focus{
    outline: none;
}

.form-title{
    text-align: center;
    color: #040080;
}

.form-label{
    color: #a8a8a8;
}

.submit{
    display: block;
    width: 170px;
    height: 50px;
    color: #fff;
    border: 1px solid #040080;
    background-color: #040080;
    margin: 50px auto auto;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

#username:focus{
    outline: none;
}

.to-admin{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
}


/*index.php*/
.navbar-default {
    background-color: #fff;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top-div{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top-div p{
    margin-top: 15px;
    margin-bottom: 30px;
}

.top-img{
    display: inline-block;
    width: 100%;
}

.top-book-btn{
    display: block;
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: rgb(0, 153, 255);
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

/*logout*/
#logout_body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#logout_body div{
    color: #a8a8a8;
    font-size: 20px;
    margin-bottom: 25px;
}

/*pick-subject*/
.flex-pick-subject{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.flex-item-sub{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.flex-sub-p-btn{
    text-align: center;
}

.flex-item-sub p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-sub-img{
    width: 60%;
}

.flex-sub-p-btn button{
    display: inline-block;
    width: 150px;
    height: 40px;
    color: #fff;
    background-color: #040080;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
}


/*pick-time*/
.prev-next{
    margin: 50px auto 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.prev-next img{
    display: inline-block;
    height: 30px;
    cursor: pointer;
}

.table{
    border-collapse: collapse;
    border: 1px solid #a8a8a8;
    width: 90%;
}

.ajax-table{
    width: 90%;
    margin:0 auto auto;
}

tr, th, td{
    border: 1px solid rgba(168, 168, 168, 0.5);
}

.table-container{
    overflow: hidden;
}

th, td{
    width: 100px;
    text-align: center;
}

th{
    background-color: #040080;
    color: #fff;
    border: none;
}

.back-to-sub{
    margin: 20px auto auto;
    width: 90%;
}

.table-icon{
    width: 40px;
    border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}


/*confirm*/
#confirm-body{
    position: relative;
    height: 100vh;
}

#confirm-form{
    width: 500px;
}

#confirm-form span{
    margin-bottom: 20px;
    font-size: 25px;
    color: rgb(255, 46, 109);
}

#confirm-form h3{
    color: #040080;
}

.confirm-hr{
    border: 0.5px solid rgba(4, 0, 128, .5);
}

#confirm-form h5{
    color: #040080;
}

#confirm-form div{
    color: #040080;
}

#confirm-btn{
    width: 100%;
    height: 40px;
    background-color: rgba(255, 0, 221, .7);
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}


/*complete*/
.complete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    width: 480px;
}

#success-img{
    display: block;
    width: 100px;
    height: 100px;
}

.complete h1{
    color: #00ff0d;
}


/*booked*/
.booked{
    width: 90%;
    color: #818181;
}

/*admin*/
.admin-block{
    margin-top: -20px;
    width: 100%;
}



.sub-td{
    color: #fff;
}

.color-description{
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.color-square{
    display: inline-block;
    width: 10px;
    height: 10px;
}

.red{
    background-color: #ff6383;
}

.blue{
    background-color: #4083ff;
}

.purple{
    background-color: #8363ff;
}


/*media query*/

@media (min-width: 481px) and (max-width: 767px) {
    
    /*login signup*/
    #loginForm{
        width: 90%;
    }

    /*index*/
    #top-img-div{
        display: none;
    }

    .top-div{
        width: 70%;
    }

    /*confirm*/
    #confirm-form{
        width: 90%;
    }

    /*complete*/
    .complete{
        width: 90%;
    }

    .complete h1{
        text-align: center;
    }

    /*booked*/

    .booked{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    
  }

  @media (min-width: 600px) and (max-width: 767px){
    /*pick-subject*/
    .flex-pick-subject{
        flex-direction: column;
        align-items: center;
        position: static;
        transform: translate(0, 0);
        margin: 30px auto auto;
    }

    .flex-item-sub{
        width: 90%;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 50px;
        border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    }

    .flex-sub-img{
        width: 30%;
    }
  }

  @media (min-width: 481px) and (max-width: 599px){
    /*pick-subject*/
    .flex-pick-subject{
        flex-direction: column;
        align-items: center;
        position: static;
        transform: translate(0, 0);
        margin: 30px auto auto;
    }

    .flex-item-sub{
        width: 70%;
        margin-bottom: 50px;
        border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    }

    .flex-sub-img{
        width: 30%;
    }
  }

  @media (min-width: 320px) and (max-width: 480px) {
  
    /*login signup*/
    #loginForm{
        width: 90%;
        display: block;
        margin-top: 50px;
    }

    /*index*/
    #top-img-div{
        display: none;
    }

    .top-div{
        width: 70%;
    }

    /*pick-subject*/
    .flex-pick-subject{
        flex-direction: column;
        align-items: center;
        position: static;
        transform: translate(0, 0);
        margin: 30px auto auto;
    }

    .flex-item-sub{
        width: 90%;
        margin-bottom: 50px;
        border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    }

    .flex-sub-img{
        width: 30%;
    }

    /*confirm*/
    #confirm-form{
        width: 90%;
    }

    /*complete*/
    .complete{
        width: 90%;
    }

    .complete h1{
        text-align: center;
    }

    /*booked*/
    .booked{
        width: 90%;
    }
    
  }

 


